<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
    <div>
        <h3>Обязательные параметры запроса:</h3>
        <p><b>url</b> - адрес страницы, данные которой будут парситься. Адрес должен быть валидным и существующим.</p>
        <br>


        <h3>Необязательные параметры запроса:</h3>
        <p><b>output_text_width</b> - ширина выходного файла в символах. Значение должно быть целым числом больше 0. По
            умолчанию - 110. Не стоит выставлять это значение слишком малым. В таком случае многие слова могут быть порезаны
            на несколько строк</p>
        <p><b>saving_img_links</b> - принимает значения True/true/1 или False/false/0. При True - будут сохранены ссылки на
            изображения, если они были в контенте страницы. При False ссылки сохранены не будут. По умолчанию True.</p>
        <p><b>file_name</b> - позволяет задать имя для выходного файла. Имя может содержать только латинские буквы в верхнем
            и нижнем регистре, цифры, а также знак тире и нижнего подчеркивания. По умолчанию answer. УКАЗЫВАЬ РАСШИРЕНИЕ
            ФАЙЛА НЕ ТРЕБУЕТСЯ.</p>
        <br>


        <h3>Пример корректного запроса:</h3>
        <p>http://127.0.0.1:8000/parse/?url=https://en.wikipedia.org/wiki/Python_(programming_language)&output_text_width=200</p>
    </div>
</body>
</html>